---
import Layout from '@/layouts/Layout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import DividerLine from '@/components/DividerLine.astro';
import CardArticles from '@/components/CardArticles.astro';

const articles = await getCollection('articles');

interface Props {
  article: CollectionEntry<'articles'>;
}
---

<Layout title="Dantech.dev | Blog">
  <main class="flex flex-col">
    <header class="py-10">
      <DividerLine title="Articulos 📑" />
    </header>

    <section aria-label="articulos de mi blog">
      <div class="grid grid-cols-1 gap-4">
        {
          articles.map((article) => {
            const { slug, data } = article;
            const { title, description, author } = data;

            return (
              <CardArticles
                title={title}
                description={description}
                author={author}
                slug={slug}
              />
            );
          })
        }
      </div>
    </section>
  </main>
</Layout>
