
/* ////////////////////////////// */
/* CSS IMPORT  */
/* ///////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root {
    /*| FONTS VAR */
    --fonts-poppins: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(90deg, #0f172a 0%, #0e0a55 100%);
    font-family: var(--fonts-poppins);
  }