---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Dantech.dev | Blog">
  <h1 class="text-4xl">Bienvenido a Mi Blog</h1>
  <p>Muy pronto estare publicando cositas por aquí ✨</p>
</Layout>