---
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';
const articles = await getCollection('articles');
import DividerLine from '@/components/DividerLine.astro';
import CardArticles from '@/components/CardArticles.astro';
---

<Layout title="Dantech.dev | Blog">
  <main class="gap-20 flex flex-col">
    <header class="py-10">
      <DividerLine title="Articulos 📑" />
    </header>

    <section aria-label="articulos de mi blog">
      <div class="grid grid-cols-1">
        {
          articles.map((article) => {
            const { slug, data } = article;
            const { title, description, author } = data;

            return (
              <article
                class="rounded-lg col-span-6 border-[1px] border-gray-600 bg-card text-card-foreground shadow-sm w-full overflow-hidden"
                data-aos="fade-up"
                data-v0-t="card">
                <main class="flex justify-between p-5 items-start space-y-0 h-auto flex-col md:flex-row">
                  <div class="space-y-1">
                    <a href={`blog/${slug}`}>
                      <h3 class="text-2xl font-semibold whitespace-nowrap leading-none tracking-tight dark:text-white dark:hover:text-[#FADB6F] text-[#333333] hover:text-[#083EB6]">
                        {title}
                      </h3>
                    </a>

                    <p class="text-sm text-muted-foreground text-balance font-medium text-gray-500 dark:text-gray-400">
                      {description}
                    </p>
                  </div>
                </main>

                <footer class="py-1 px-6 md:p-6">
                  <div class="flex space-x-4 text-sm text-gray-500 dark:text-gray-400">
                    {author}
                  </div>
                </footer>
              </article>
            );
          })
        }
      </div>
    </section>
  </main>
</Layout>
