---
// impotaciones de componentes
import Layout from '../layouts/Layout.astro';
import Presentation from '@/sections/Presentation.astro';
import Experience from '@/sections/Experience.astro';
import Projects from '@/sections/Projects.astro';
import Skills from '@/sections/Skills.astro';
import AboutMe from '@/sections/AboutMe.astro';

---

<!-- seccion principal -->
<Layout title={'Dantech ✨ - Portafolio Web'}>
  <main class="flex flex-col gap-20">
    <!-- section for presentation and introduction  -->
    <Presentation />

    <!-- section for show experience in works -->
    <Experience />

    <!-- section for show projects  -->
    <Projects />

    <!-- section for show skills -->
    <Skills />

    <!-- section for show about me  -->
    <AboutMe />
  </main>
</Layout>
