---
// impotaciones de componentes
import  BaseLayout  from "../layouts/BaseLayout.astro";
import LogoDandev from "../../public/img/logo-dandev.png";
import AbourtHeader from "../components/AboutHeader.astro";
import SocialContact from "../components/SocialContact.astro";
import Skills from "../components/Skills.astro";
import CardProyect from "../components/CardProyect.astro";
import FormContact from "../components/FormContact.astro";
---
<!-- seccion principal --> 
<BaseLayout title="Portfolio DandevMS">
   <section class="container m-auto p-5 mt-16">
      <div class="grid grid-cols-1  md:grid-cols-2 mid:grid-cols-1 ">
         <div class="container m-auto w-full px-5 col-span-1">
            <div class="w-auto text-center md:text-start">
            <h2 class="text-white text-5xl md:text-6xl font-bold mb-3 leading-normal">Developer Web Front-End</h2>
            <p class="text-white text-lg md:text-xl mt-6 font-medium">
               Hola ✌, Mi nombre es Danilo Antonio Macea
               Santos, soy de colombia y soy desarrollador web
               en el area frontend, me apasiona la web, quiero
               vivirla y aportar mi talento para mejorarla</p>
               <a href="#" class="mt-5 text-white p-3 tracking-wide inline-block bg-[#D21717] rounded-3xl hover:bg-white hover:text-black"><i class='bx bxs-download'></i> Dowload CV</a>
            </div>
         </div>
         
         <div class="container m-auto w-full px-5">
            <div class="flex justify-center items-center">
               <img src={LogoDandev} alt="" class="w-96">
            </div>
         </div>
      </div>
   </section>

   <!-- section about me -->
   <section class="container m-auto p-5">
      <div class="container w-full px-5 text-center">
         <AbourtHeader title="About Me 🚀"></AbourtHeader>
         <div class="container p-5 mt-5 text-start">
            <p class="text-white"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ut velit quibusdam inventore quis, obcaecati perspiciatis odit voluptatum deserunt hic nam. Provident consequuntur incidunt culpa beatae nam fugiat libero praesentium, non quisquam in possimus repellendus, dignissimos, vel rem tempore repellat ratione rerum ipsa sed saepe asperiores placeat impedit odio? Cupiditate perspiciatis ullam enim maxime. Error explicabo quaerat ut </p>
            <p class="text-white"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ut velit quibusdam inventore quis, obcaecati perspiciatis odit voluptatum deserunt hic nam. Provident consequuntur incidunt culpa beatae nam fugiat libero praesentium, non quisquam in possimus repellendus, dignissimos, vel rem tempore repellat ratione rerum ipsa sed saepe asperiores placeat impedit odio? Cupiditate perspiciatis ullam enim maxime. Error explicabo quaerat ut </p>
         </div>
         <h1 class="text-white text-2xl my-5">Mis Redes</h1>
         <SocialContact></SocialContact>
      </div>
   </section>

   <!-- skills, habilidades  -->

   <section class="container m-auto p-5">
      <Skills></Skills>
   </section>

   <!-- tarjetas de proyectos -->
   <section class="container m-auto p-5">
      <CardProyect></CardProyect>
   </section>

   <!-- formulario de contacto  -->
   <section class="container-2xl m-auto p-5 mt-7 contact">
      <FormContact></FormContact>
   </section>

   <!-- foooter o pie de pagina  -->

   
</BaseLayout>
<style>
   .contact{
    background:linear-gradient(63deg, #0f172a 46%, #0e0a55 100%);
}
</style>


