---
import SocialContact from "./ButtonSocial.astro";
import AboutHeader from "./AboutHeader.astro";
---
<section class="container m-auto p-5">
    <div class="container w-full px-5 text-center">
       <AboutHeader title="About Me 游" />
       <div class="container p-5 mt-5 text-start">
          <p class="text-white mb-2">
            Soy un apasionado por la tecnolog칤a y el desarrollo web, con m치s de 2 a침os de experiencia trabajando en el campo TI, he trabajado y colaborado en una variedad de proyectos tanto personales como empresariales, desde peque침as p치ginas web hasta proyectos de gran escala. Mi conocimiento t칠cnico incluye tecnolog칤as como, PHP Laravel, JavaScript, Nodejs Express, Python flask, Bootstrap, Tailwindscss, y estoy constantemente buscando nuevas formas de mejorar mis habilidades y mantenerme actualizado de los 칰ltimos avances en desarrollo web
          </p>
          <p class="text-white">
            Mi objetivo es ayudar a las empresas a alcanzar sus metas mediante la creaci칩n de soluciones innovadoras y eficientes, creo en trabajar de manera colaborativa y enfocada en el cliente para entender sus necesidades y ofrecer soluciones que cumplan con sus expectativas. Me esfuerzo por mantener un enfoque en la usabilidad y la accesibilidad en todos mis proyectos, asegur치ndome de que sean f치ciles de usar y de acceder para todos los usuarios.
          </p>
       </div>
       <h1 class="text-white text-2xl my-5">Mis Redes</h1>
       <SocialContact />
    </div>
 </section>