---
import SocialContact from "./SocialContact.astro";
import AboutHeader from "./AboutHeader.astro";
---
<section class="container m-auto p-5">
    <div class="container w-full px-5 text-center">
       <AboutHeader title="About Me 🚀" />
       <div class="container p-5 mt-5 text-start">
          <p class="text-white">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ut
             velit quibusdam inventore quis, obcaecati perspiciatis odit
             voluptatum deserunt hic nam. Provident consequuntur incidunt
             culpa beatae nam fugiat libero praesentium, non quisquam in
             possimus repellendus, dignissimos, vel rem tempore repellat
             ratione rerum ipsa sed saepe asperiores placeat impedit odio?
             Cupiditate perspiciatis ullam enim maxime. Error explicabo
             quaerat ut
          </p>
          <p class="text-white">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ut
             velit quibusdam inventore quis, obcaecati perspiciatis odit
             voluptatum deserunt hic nam. Provident consequuntur incidunt
             culpa beatae nam fugiat libero praesentium, non quisquam in
             possimus repellendus, dignissimos, vel rem tempore repellat
             ratione rerum ipsa sed saepe asperiores placeat impedit odio?
             Cupiditate perspiciatis ullam enim maxime. Error explicabo
             quaerat ut
          </p>
       </div>
       <h1 class="text-white text-2xl my-5">Mis Redes</h1>
       <SocialContact />
    </div>
 </section>