---
// Script del componente (JavaScript)
const {title} = Astro.props;
---

<header class="w-full text-center p-5 mt-5 font-bold">
    <h1 class="text-white text-5xl">
       {title}
    </h1>
</header>