---

---

<!-- html -->


<div class="contaier flex justify-end p-3">
    <a href="" class="text-white bg-red-700 p-2 rounded-md items-center inline-flex hover:bg-white hover:text-black">
        <span>More Proyects</span>
        <i class='bx bx-plus bx-sm' ></i>
    </a>
</div>