---
interface Props {
    title: string;
    color: string;
    link: string;
    icon: string;
}

const { title, color, link, icon } = Astro.props;
---

<div>
    <a
        href={link}
        class:list={[
            "mt-5",
            "text-white",
            "p-3",
            "tracking-wide",
            "flex",
            "rounded-3xl",
            "hover:bg-white",
            "hover:text-black",
            "ml-1",
            color,
        ]}><i class={icon}></i>{title}</a
    >
</div>
