---
import '../styles/ButtonScrollTop.css';
import ArrowUp from '@/icons/ArrowUp.astro';
---

<!-- Button scroll top click -->
<a href="#" id="up" class="btn-up hidden md:block" role="button" aria-label="subir hacia arriba">
<ArrowUp class="size-10" />
</a>


<!-- scrip for button top click -->
<script type="text/javascript">
  const button = document.querySelector('#up');
  button.addEventListener('click', () => {
    if (window.scrollY) {
      window.scroll(0, 100);
    }
  });

  window.onscroll = function () {
    scrollFuntion();
  };
  function scrollFuntion() {
    if (document.documentElement.scrollTop > 350) {
      button.classList.add('btn-show');
    } else {
      button.classList.remove('btn-show');
    }
  }
</script>
