---
import '../styles/ButtonStatus.css';
---

<button
  class="btn-animate md:text-sm text-base font-medium text-white backdrop-blur-3xl p-3">
  <span>Disponible para trabajar</span>
</button>


