<div class="fixed left-0 top-0 -z-20 h-full w-full">
  {/* Azure Depths */}
  <div
    class="absolute inset-0 z-0 dark:bg-[radial-gradient(125%_125%_at_50%_10%,_#000000_40%,_#010133_100%)] bg-[radial-gradient(125%_125%_at_50%_10%,_#ffffff_40%,_#10b981_100%)] bg-[length:100%_100%]"
  >
  
  </div>
  {/* Your Content/Components */}
</div>
