<div class="fixed left-0 top-0 -z-10 h-full w-full">
  <div class="absolute h-full w-full dark:bg-slate-950 bg-white">
    <div
      class="absolute bottom-0 right-[-15%] top-[-10%] h-[500px] w-[500px] rounded-full dark:bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))] bg-[radial-gradient(circle_farthest-side,rgba(174,238,234,.90),rgba(255,255,255,0))]">
    </div><div
      class="absolute bottom-0 left-[-18%] h-[500px] w-[500px] rounded-full dark:bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))] bg-[radial-gradient(circle_farthest-side,rgba(174,238,234,.90),rgba(255,255,255,0))]">
    </div>
  </div>
</div>
