<div class="fixed left-0 top-0 -z-20 h-full w-full">
  {/* Azure Depths */}
  <div
    class="absolute inset-0 z-0 cosmic-background bg-gradient-to-br from-slate-50 via-blue-100 to-indigo-400"
  >
  </div>
  {/* Your Content/Components */}
</div>
