<div class="divider-container">
  <fieldset>
    <legend>proyectos</legend>
  </fieldset>
</div>

<style>
  .divider-container {
    text-align: center;
  }

  /* Estilos para el fieldset */
  fieldset {
    border-top: 1px solid #27263b;
  }

  /* Estilos para el legend */
  legend {
    display: inline-block;
    padding: 0 50px;
    background-color: transparent; /* Color de fondo */
    border: 1px solid #27263b; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    margin: 0;
    color: white;
    text-transform: uppercase;
  }
</style>
