---
const { title } = Astro.props;
---

<div class="divider-container">
  <fieldset>
    <legend
      class="transition hover:scale-110 motion-reduce:transition-none motion-reduce:hover:scale-100 "
      >{title}
      
      </legend
    >
    
  </fieldset>
  
</div>


<style>
  .divider-container {
    text-align: center;
  }

  /* Estilos para el fieldset */
  fieldset {
    border-top: 1px solid #27263b;
  }

  /* Estilos para el legend */
  legend {
    display: inline-block;
    padding: 5px 50px;
    background-color: #0B1528; /* Color de fondo */
    border: 1px solid #27263b; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    margin: 0;
    color: white;
    text-transform: uppercase;
  }


</style>
