---
import AboutHeader from "./AboutHeader.astro";
---

<AboutHeader title="Contact My"></AboutHeader>
<div class="container m-auto">
  <div class="container text-white p-4">
    <h4 class="text-2xl">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto corporis quibusdam itaque accusantium distinctio facere dolore molestiae explicabo mollitia? Quae, velit doloremque nisi aliquid nesciunt laboriosam animi odio rerum eum.</h4>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2">
    <div class="container">
        <form action="">
            <div class="flex justify-between">
                <div class="flex flex-col p-3">
                    <label for="email">Email</label>
                    <input type="text" placeholder="typing email" name="email" id="email" class="p-3 bg-transparent border text-white w-full rounded-md">
                </div>
                <div class="flex flex-col p-3">
                    <label for="name">Name</label>
                    <input type="text" placeholder="typing name" name="name" id="name" class="p-3 bg-transparent border text-white w-full rounded-md">
                </div>
            </div>

            <div class="container flex justify-between">
                <div class="p-3 w-full">
                    <label for="asunto">Asunto</label>
                    <input type="text" placeholder="typing send asunto" name="asunto" id="asunto" class="p-3 bg-transparent border text-white w-full rounded-md">
                </div>
            </div>
            <div class="container">
                <div class="p-3 w-full">
                    <p>Message</p>
                    <textarea name="message" id="mes" cols="30" rows="10" class="bg-slate-800 w-full text-white p-1 resize-none "></textarea>
                </div>
            </div>

            <div class="flex justify-center">
                <button type="submit" class="border-none p-5 rounded-xl cursor-pointer text-white bg-red-700 hover:bg-white hover:text-black">Send Submit</button>
            </div>
        </form>
    </div>
    <div class="container w-auto">
        <img src="../../public/img/send.png" alt="" class="w-full">
    </div>
  </div>
</div>


