---
import AboutHeader from "./AboutHeader.astro";
import ImgSend from "../../public/img/send.png";
---

<section class="container-2xl m-auto p-5 mt-7 contact">
<AboutHeader title="Contact Me" />
<div class="container m-auto">
    <div class="container text-white p-4">
        <h4 class="text-2xl">
            Estoy abierto a colaborar y apoyar en nuevas ideas y proyectos, me apasionada trabajar en equipo y dar vida a ideas increibles, contacta conmigo si te interesa invitarme a colaborar.
        </h4>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2">
        <div class="container">
            <form action="" id="form">
                <div class="flex justify-between">
                    <div class="flex flex-col p-3">
                        <label for="email" class="text-white mb-2">Email</label>
                        <input
                            required
                            type="text"
                            placeholder="typing email"
                            name="email"
                            id="email"
                            class="p-3 bg-transparent border text-white w-full rounded-md"
                        />
                    </div>
                    <div class="flex flex-col p-3">
                        <label for="name" class="text-white mb-2">Name</label>
                        <input
                            required
                            type="text"
                            placeholder="typing name"
                            name="name"
                            id="name"
                            class="p-3 bg-transparent border text-white w-full rounded-md"
                        />
                    </div>
                </div>

                <div class="container flex justify-between">
                    <div class="p-3 w-full">
                        <label for="asunto" class="text-white mb-2"
                            >Asunto</label
                        >
                        <input
                            required
                            type="text"
                            placeholder="typing send asunto"
                            name="asunto"
                            id="asunto"
                            class="p-3 bg-transparent border text-white w-full rounded-md"
                        />
                    </div>
                </div>
                <div class="container">
                    <div class="p-3 w-full">
                        <p class="text-white mb-2">Message</p>
                        <textarea
                            required
                            name="message"
                            id="message"
                            cols="30"
                            rows="10"
                            class="bg-slate-800 w-full text-white p-1 resize-none"
                        ></textarea>
                    </div>
                </div>

                <div class="flex justify-center">
                    <input
                        type="submit"
                        id="button"
                        class="border-none p-5 rounded-xl cursor-pointer text-white bg-red-700 hover:bg-white hover:text-black"
                        value="Enviar Mensaje"
                    />
                </div>
            </form>
        </div>
        <div class="container w-auto">
            <img src={ImgSend} alt="" class="w-full" />
        </div>
    </div>
</div>
</section>

<script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
></script>

<script type="text/javascript">
    emailjs.init("xD2swKgYhfimWHkkh");
</script>

<script type="text/javascript">
    const btn = document.getElementById("button");
    const form = document.getElementById("form");

    form.addEventListener("submit", function (e) {
        e.preventDefault();

        btn.value = "Enviando..";

        const serviceID = "service_ctfmu9j";
        const templateID = "template_fwn8qji";

        emailjs.sendForm(serviceID, templateID, this).then(
            () => {
                btn.value = "enviar mensaje";
                swal({
                    title: "Listo",
                    icon: "success",
                    className: "swal-overlay",
                    button: "Ok gracias",
                });
                form.reset();
            },
            (err) => {
                btn.value = "error mensaje";
                alert(JSON.stringify(err));
            }
        );
    });
</script>

<style>
    .swal-overlay {
        background-color: rgba(43, 165, 137, 0.45);
    }
</style>
