---
import Nav from './Nav.astro';
---

<header class="z-40 flex w-full flex-col gap-2 md:flex-row justify-center md:justify-between items-center" role="heading">
  <a href="/" class="text-xl text-white font-medium text let tracking-widest hidden md:flex">/Dantech.dev ✨</a>
  <Nav />
</header>