---
const {title, description} = Astro.props;
---
<div class="prose container pl-4 w-full my-8">
    <h3 class="text-gray-400 font-light "><span class="text-white font-semibold">{title} |</span> {description}</h3>
</div>