---

---

<div
  class="flex md:w-full md:flex-row sm:flex-col  flex-col md:justify-between md:items-center text-center"
  role="heading">
  <a
    href="/"
    class="md:text-xl text-2xl dark:text-white text-[#333333] md:font-medium md:tracking-widest md:flex"
    >Dantech.dev ✨</a
  >

  <a href="mailto:dandevtech99@gmail.com">dandevtech99@gmail.com | Colombia</a>
  

</div>

