---
import Nav from './Nav.astro';
---

<div
  class="md:flex md:w-full md:flex-row md:justify-between md:items-center text-center"
  role="heading">
  <a
    href="/"
    class="md:text-xl text-2xl dark:text-white text-[#333333] md:font-medium md:tracking-widest md:flex"
    >Dantech.dev ✨</a
  >
  <Nav />
</div>

