---
import removeTrailingSlash from '@/utils/removeTrailingSlash';

interface Items {
  name: string;
  link: string;
}

const items: Items[] = [
  {
    name: 'Experiencia',
    link: '/',
  },
  {
    name: 'Proyectos',
    link: '/',
  },
  {
    name: 'Habilidades',
    link: '/',
  },
  {
    name: 'Sobre mi',
    link: '/',
  },
];

const pathname = removeTrailingSlash(Astro.url.pathname);
---

  <nav role="navigation">
    <ul role="list" class="flex flex-row gap-2">
      {
        items.map((item) => (
          <li>
            <a
              href={item.link}
              class="text-base text-white font-medium">
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
