---

interface Items {
  name: string;
  link: string;
  label: string;
}

const THEMES = ['Light', 'Dark', 'System'];

const items: Items[] = [
  {
    name: 'Experiencia',
    link: '/#experiencia',
    label: 'experiencia',
  },
  {
    name: 'Proyectos',
    link: '/#proyectos',
    label: 'proyectos',
  },
  {
    name: 'Habilidades',
    link: '/#habilidades',
    label: 'habilidades',
  },
  {
    name: 'Sobre mi',
    link: '/#sobre-mi',
    label: 'sobre-mi',
  },
];
---

<nav role="navigation" class="dark:text-white text-[#333333]">
  <ul
    role="list"
    class="flex flex-row gap-4 justify-center items-center border-2 md:border-none p-2 rounded-3xl">
    {
      items.map(({ name, link, label }) => (
        <li>
          <a
            href={link}
            class="text-base  dark:hover:text-yellow-200 hover:text-blue-600  font-medium"
            role="link"
            aria-label={label}>
            {name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

