---
import Nextjs from '@/icons/Nextjs.astro';
import Reactjs from '@/icons/Reactjs.astro';
import AstroIcon from '@/icons/AstroIcon.astro';
import Git from '@/icons/Git.astro';
import GitHub from '@/icons/GitHub.astro';
import Laravel from '@/icons/Laravel.astro';
import Nodejs from '@/icons/Nodejs.astro';
import Ts from '@/icons/ts.astro';
import Js from '@/icons/js.astro';
import Tailwindscss from '@/icons/tailwindscss.astro';

interface Skills {
  name: string;
  icon: any;
}

const skills: Skills[] = [
  { name: 'Next.js', icon: Nextjs },
  { name: 'React.js', icon: Reactjs },
  { name: 'Astro', icon: AstroIcon },
  { name: 'Git', icon: Git },
  { name: 'GitHub', icon: GitHub },
  { name: 'Laravel', icon: Laravel },
  { name: 'Node.js', icon: Nodejs },
  { name: 'JavaScript', icon: Js },
  { name: 'TypeScript', icon: Ts },
  { name: 'TailwindCSS', icon: Tailwindscss },
];
---

{
  skills.map(({ name, icon: Icon }) => (
    <div
      class=" hidden md:flex items-center  justify-between w-1/6 "
      aria-label={name}
      data-microtip-position="left"
      role="tooltip">
      <Icon class="size-14 transition hover:scale-110 " title={name} />
    </div>
  ))
}'

<!-- vista mobil  -->

<div class="md:hidden flex flex-row flex-wrap justify-center gap-6">

  {
    skills.map(({ name, icon: Icon }) => (
      <div
        class=" flex items-center  justify-center w-1/4 "
        aria-label={name}
        data-microtip-position="bottom"
        role="tooltip">
        <Icon class="size-14 transition hover:scale-110 " title={name} />
      </div>
    ))
  }'

</div>