---
---
<div class="container px-5 w-full flex justify-center">
    <div class="flex justify-center p-3 bg-[#0B062B] w-1/2 rounded-3xl gap-10">
        <a href="" class="text-5xl text-red-700 hover:text-white"><i class='bx bxl-linkedin-square'></i></a>
        <a href="" class="text-5xl text-red-700 hover:text-white"><i class='bx bxl-twitter'></i></a>
        <a href="" class="text-5xl text-red-700 hover:text-white"><i class='bx bxl-github'></i></a>
    </div>
</div>