---
const items = [
    {
        name: "LinkInd",
        link:"/",
        icon: "bx bxl-linkedin-square"
    },
    {
        name: "Twitter",
        link:"/",
        icon: "bx bxl-twitter",
    },
    {
        name: "GitHub",
        link:"/",
        icon: "bx bxl-github",
    },
]
---
<div class="container px-5 w-full flex justify-center">
    <div class="flex justify-center p-3 bg-[#0B062B] w-1/2 rounded-3xl gap-10">
        { items.map((item) => (
        <>
        <a href={item.link} class="text-5xl text-red-700 hover:text-white cursor-pointer"><i class={item.icon}></i></a>
    
        </>
        ))}
    </div>
</div>