---
import DividerLine from '@/components/DividerLine.astro';
import ButtonCv from '@/components/ButtonCv.astro';
interface About {
  title: string;
  desacription: string;
  img: string;
}
---

<DividerLine title="Sobre Mi" id="sobre-mi" />

<section class="flex w-full overflow-hidden justify-center gap-10">
  <!-- seccion de la imagen -->
  <div class="w-[30%] flex flex-col justify-center items-center">
    <div
      class="border rounded-xl overflow-hidden daark:border-white border-gray-800 max-h-80 w-72 shadow-md">
      <img
        src="/img/myphoto.jpg"
        alt="imagen personal"
        class="w-full object-cover overflow-clip"
        loading="lazy"
      />
    </div>
    <div class="flex justify-center items-center mt-3 gap-2">
      <ButtonCv />
    </div>
  </div>

  <div class="w-[60%]">
    <header role="heading">
      <h1 class="text-3xl dark:text-white text-[#333333] font-semibold">
        Me llamo Danilo Antonio Macea Santos
      </h1>
    </header>
    <main role="main">
      <p class="text-pretty text-lg dark:text-white text-gray-700">
        Soy un entusiasta de la tecnología y la web, empece a conocer la
        porgramacion y el desarrollo de software desde hace casi cuatro años, me
        he dedicado con pasión al mundo de la programación, sin límites en mi
        interés por aprender y crecer constantemente
      </p>
      <br />
      <p class="text-pretty text-lg dark:text-white text-gray-700">
        He trabajado en varias empresas, destacándome por mi talento y
        compromiso. Recientemente, colaboré con una startup, donde optimicé
        procesos, implementé nuevas funcionalidades e integré redes sociales con
        el sitio web.
      </p>
    </main>
  </div>
</section>
