---
import DividerLine from '@/components/DividerLine.astro';
import ButtonCv from '@/components/ButtonCv.astro';
interface About {
  title: string;
  desacription: string;
  img: string;
}
---

<DividerLine title="Sobre Mi" id="sobre-mi" />

<section class="grid grid-cols-6 w-full h-96 overflow-hidden">
  <!-- seccion de la imagen -->
  <div class="col-span-2 w-full flex justify-center">
    <div class="border rounded-xl overflow-hidden border-white max-h-80">
      <img
        src="/img/mifoto.jpg"
        alt="imagen personal"
        class="w-full object-cover overflow-clip" loading="lazy"
      />
    </div>
  </div>

  <div class="flex flex-col col-span-4 p-4 gap-3">
    <header role="heading">
      <h1 class="text-3xl text-white">Sobre Mi</h1>
    </header>
    <main role="main">
      <p class="text-balance text-lg">
        Soy un un amante de la tecnología y me apasiona el mundo web, me gusta
        sumergirme en este inmenso mar en donde se adquieren grandes
        conocimientos y experiencia, en donde todos pueden colaborar y
        contribuir sin ninguna limitaciónn en donde el trabajo en equipo se hace
        notar y demuestra que los humanos logramos grandes cosas juntos. Tambien
        quiero ser parte de este gran avance y contribuir para que la
        imaginación de las ideas se hagan realidad.
      </p>
    </main>

    <footer class="flex gap-3" aria-label="botton para ir al cv">
      <ButtonCv />
    </footer>
  </div>
</section>
