---
interface About {
  title: string;
  desacription: string;
  img: string;
}
---

<section class="flex justify-between items-center w-full h-96">
  <!-- seccion de la imagen -->
  <div class="flex justify-center items-center p-4">
    <div class="border border-white w-full">
      <img src="/img/logo-dantech.png" alt="imagen personal" class="w-full" />
    </div>
  </div>
  <div class="flex flex-col p-4">
    <h1 class="text-2xl">Sobre Mi</h1>  

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
      provident natus dicta maxime fuga dolorem nobis corporis quidem
      voluptatibus illo voluptatem porro quasi excepturi labore velit
      architecto, deserunt qui? Corporis.
    </p>
  </div>
</section>
