---
import CardArticles from "@/components/CardArticles.astro";
import DividerLine from "@/components/DividerLine.astro";
---
<DividerLine title="Articulos" />

<section class="grid grid-cols-14 md:grid-cols-12 gap-4">
  <!-- Column -->
   <CardArticles />
</section>