---
import GitHub from '@/icons/GitHub.astro';
import LinkedIn from '@/icons/LinkedIn.astro';
import ButtonStatus from '@/components/ButtonStatus.astro';
import DividerLine from '@/components/DividerLine.astro';

interface IntroBasic {
  image: string;
  label: string;
  name: string;
  url: string;
  description: string;
}

const Info: IntroBasic[] = [
  {
    label: 'Hola/Hi ✋',
    name: 'Soy Danilo Macea',
    image: '/img/logo-dantech.webp',
    url: 'url de la pagina',
    description:
      'Desarrollador web frontend, amante de la web y autodidacta, me gusta enfocar mis proyectos en la experiencia de usuario y me encanta trabajar con gente apasionada como yo.',
  },
];

const { label, name, image, url, description } = Info[0];
---

<section
  class="flex md:flex-row flex-col gap-8 md:justify-end justify-between items-center md:gap-12">
  <main class="flex flex-col gap-3">

    <!-- section movil  -->
    <div class="md:hidden flex flex-row items-center gap-6 mb-2">
      <div class="w-20 bg-white h-20 rounded-full">
        <img
          src={image}
          alt="imagen personal para el portafolio"
          class="w-full"
          loading="lazy"
        />
      </div>
      <div class="md:hidden">
        <h1
          class="text-4xl font-semibold dark:text-white text-[#083EB6] flex justify-start items-center gap-5">
          <ButtonStatus />
        </h1>
      </div>
    </div>

    <div>
      <span class="text-xl dark:text-white text-[#333333]">
        {label}
      </span>
      <h1
        class="text-4xl font-semibold dark:text-white text-[#083EB6] md:flex justify-start items-center gap-5 ">
        {name}
        <span class="hidden md:inline-flex">
          <ButtonStatus />
        </span>
        
      </h1>
      <p
        class="w-auto max-w-[60ch]  text-xl dark:text-white text-[#333333] md:text-balance text-pretty">
        <span class="dark:text-[#FADB6F] text-[#083EB6]">
          Desarrollador web,</span
        >
        amante de la web y autodidacta, me gusta enfocar mis proyectos en la experiencia
        de usuario y me encanta trabajar con gente apasionada como yo.
        <p class="text-xl">Conecta conmigo 👇👇</p>
      </p>
    </div>

    <div class="flex justify-start items-center pt-2">
      <a
        href="https://github.com/dantech99"
        class="px-8 py-1 dark:text-white text-[#333333] text-sm rounded-2xl font-medium dark:hover:bg-black/[0.8] hover:bg-white hover:shadow-lg border-gray-600 border flex flex-row justify-between items-center gap-3 dark:bg-transparent bg-white"
        role="link"
        target="_blank">
        <GitHub class="size-5 fill-[#333333] dark:fill-white" /> GitHub
      </a>

      <a
        href="https://www.linkedin.com/in/dantechdev/"
        class="px-8 py-1 dark:text-white text-[#333333] text-sm rounded-2xl font-medium dark:bg-transparent dark:hover:bg-black/[0.8] bg-white hover:shadow-lg ml-2 border-gray-600 border flex flex-row justify-between items-center gap-3"
        role="link"
        target="_blank">
        <LinkedIn class="size-5 fill-[#333333] dark:fill-white" /> LinkedIn
      </a>
    </div>
  </main>

  <div class="md:flex hidden flex-col justify-center items-center">
    <div class="w-52 bg-white h-52 rounded-full">
      <img
        src={image}
        alt="imagen personal para el portafolio"
        class="w-full"
        loading="lazy"
      />
    </div>
  </div>
</section>
