---
import GitHub from '@/icons/GitHub.astro';
import LinkedIn from '@/icons/LinkedIn.astro';
import { introbasic } from '@/data/data.json';
import ButtonStatus from '@/components/ButtonStatus.astro';
import DividerLine from '@/components/DividerLine.astro'

const { label, name, image } = introbasic;
---

<section
  class="flex gap-8 md:justify-end justify-between items-center md:gap-12">
  <div class="flex flex-col gap-3">
    <span class="text-xl text-white">
      {label}
    </span>
    <h1
      class="text-4xl font-semibold text-white flex justify-start items-center gap-5">
      {name}
      <ButtonStatus />
    </h1>
    <p class="w-auto max-w-[60ch] leading-6 text-xl text-white">
      <span class="text-[#FADB6F]"> Desarrollador web</span>
      con +2 años de experiencia en el área de frontend, especializado en el desarrollo
      de aplicaciones web modernas enfocadas en la experiencia de usuario.
    </p>

    <div class="flex justify-start items-center">
      <a
        href="/"
        class="px-8 py-2 text-white text-sm rounded-3xl font-medium hover:bg-black/[0.8] hover:shadow-lg ml-2 border-white border flex flex-row justify-between items-center gap-3">
        <GitHub /> GitHub
      </a>

      <a
        href="/"
        class="px-8 py-2 text-white text-sm rounded-3xl font-medium hover:bg-black/[0.8] hover:shadow-lg ml-2 border-white border flex flex-row justify-between items-center gap-3">
        <LinkedIn /> LinkedIn
      </a>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center">
    <!--  -->

    <div class="w-52 bg-white h-52 rounded-full">
      <img
        src={image}
        alt="imagen personal para el portafolio"
        class="w-full"
      />
    </div>
  </div>
</section>

<DividerLine title="Experiencia" />
