---
import DividerLine from '@/components/DividerLine.astro';
---

<section class="grid grid-cols-12 gap-4">
  <!-- Column -->
  <article
    class="col-span-12 md:col-span-7 w-full h-[470px] rounded-xl border-[1px] border-[#707070] bg-gradiente overflow-hidden">
    <div class="h-full w-full">
      <header class="w-full h-[50%]">
        <div class="w-full h-full rounded-xl overflow-hidden">
          <img
            alt="imagen del proyecto"
            class="w-full object-cover h-full transition hover:scale-105 motion-reduce:transition-none motion-reduce:hover:scale-50"
            loading="lazy"
            src="/img/placeholder.svg"
          />
        </div>
      </header>

      <main class="p-7 h-full">
        <h1 class="text-xl text-white">Titulo del proyecto</h1>

        <div class="col-span-1">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab natus
            illum officiis dolorem voluptas, dignissimos sed harum molestiae
            autem quidem!
          </p>
        </div>
      </main>
    </div>
  </article>

  <!-- Column -->
  <article
    class="col-span-12 md:col-span-5 flex flex-1 w-full h-[470px] rounded-xl border-[1px] border-[#707070] bg-gradiente overflow-hidden">
    <div class="h-full">
      <header class="w-full h-[50%]">
        <div
          class="w-full h-full rounded-s-lg overflow-hidden transition duration-500 ease-in-out transform">
          <img
            alt="imagen del proyecto"
            class="w-full object-cover h-full transition hover:scale-105 motion-reduce:transition-none motion-reduce:hover:scale-50"
            loading="lazy"
            src="/img/placeholder.svg"
          />
        </div>
      </header>

      <main class="p-7 h-full">
        <h1 class="text-xl text-white">Titulo del proyecto</h1>

        <div class="col-span-1">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab natus
            illum officiis dolorem voluptas, dignissimos sed harum molestiae
            autem quidem!
          </p>
        </div>
      </main>
    </div>
  </article>

  <article
    class="col-span-12 md:col-span-5 flex flex-1 w-full h-[470px] rounded-xl border-[1px] border-[#707070] bg-gradiente overflow-hidden">
    <div class="h-full">
      <header class="w-full h-[50%]">
        <div class="w-full h-full rounded-s-lg overflow-hidden">
          <img
            alt="imagen del proyecto"
            class="w-full object-cover h-full transition hover:scale-105 motion-reduce:transition-none motion-reduce:hover:scale-50"
            loading="lazy"
            src="/img/placeholder.svg"
          />
        </div>
      </header>

      <main class="p-7 h-full">
        <h1 class="text-xl text-white">Titulo del proyecto</h1>

        <div class="col-span-1">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab natus
            illum officiis dolorem voluptas, dignissimos sed harum molestiae
            autem quidem!
          </p>
        </div>
      </main>
    </div>
  </article>

  <article
    class="col-span-12 md:col-span-7 flex flex-1 w-full h-[470px] rounded-xl border-[1px] border-[#707070] bg-gradiente overflow-hidden">
    <div class="h-full">
      <header class="w-full h-[50%]">
        <div class="w-full h-full rounded-s-lg overflow-hidden">
          <img
            alt="imagen del proyecto"
            class="w-full object-cover transition hover:scale-105 motion-reduce:transition-none motion-reduce:hover:scale-50"
            loading="lazy"
            src="/img/placeholder.svg"
          />
        </div>
      </header>

      <main class="p-7 h-full">
        <h1 class="text-xl text-white">Titulo del proyecto</h1>

        <div class="col-span-1">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab natus
            illum officiis dolorem voluptas, dignissimos sed harum molestiae
            autem quidem!
          </p>
        </div>
      </main>
    </div>
  </article>

  <style>
    .bg-gradiente {
      background-image: linear-gradient(
        135deg,
        rgb(98, 114, 136, 50%),
        rgb(23, 29, 37)
      );
    }
  </style>
</section>

<DividerLine title="Skills/Habilidades" />
