---
import DividerLine from '@/components/DividerLine.astro';
import CardProject from '@/components/CardProject.astro';
import BtnMoreProyects from '@/components/BtnMoreProyects.astro';
import projects from '@/data/projects.ts'
---
<DividerLine title="Proyectos" id="proyectos" />

<section class="grid grid-cols-14 md:grid-cols-12 gap-4">
  <!-- Column -->
   {
     projects.slice(0,4).map((project) => (
      <CardProject project={project} />
    ))
   }
</section>

<BtnMoreProyects />
<style>
  .bg-gradiente {
    background-image: linear-gradient(
      135deg,
      rgb(98, 114, 136, 50%),
      rgb(23, 29, 37)
    );
  }
</style>


