---
import SkillsMap from '@/components/SkillsMap.astro';

import DividerLine from '@/components/DividerLine.astro';
---

<div class="grid md:grid-cols-6 md:grid-rows-5 md:gap-4 md: md:gap-y-36 h-80">
  <div class="col-span-2 flex justify-start items-center">
    <div>
      <h1 class="text-2xl font-bold">
        Mi <span class="text-[#FF5D01]">Stack</span>
      </h1>
      <h1 class="text-2xl font-bold">De Tecnologias</h1>
    </div>
  </div>

  <SkillsMap />
</div>

<DividerLine title="Sobre Mi" />
