---
import NavLayout from "./NavLayouts.astro";
import FooterLayout from "./FooterLayout.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/style.module.css";
import Logo from "../../public/img/logo-dandev.png";
import ButtonTopScroll from '../components/buttonScrollTop.astro';
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href={Logo} type="image/x-icon" />

    <!-- iconos de boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- toolstips  -->
    <link rel="stylesheet" href="https://unpkg.com/microtip/microtip.css" />
  </head>
  <body>
    <ButtonTopScroll />
    <NavLayout />
    <main>
      <slot />
    </main>
    <FooterLayout />

    <script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </body>
</html>
