---
import NavLayout from "./NavLayouts.astro";
import '../styles/style.module.css';

import AOS from 'aos';
import 'aos/dist/aos.css'; // You can also use <link> for styles
// ..
AOS.init();
---
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Mi website de Astro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- iconos de boxicons -->
     <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

  </head>
  <body>
    <NavLayout></NavLayout> 
    <main>
      <slot />
    </main>

  </body>
</html>
