---
import NavLayout from "./NavLayouts.astro";
---
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Mi website de Astro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  <body class="bg-body">

    <NavLayout></NavLayout>

    <main>
      <slot /> <!-- su contenido es inyectado aquí -->
    </main>
  </body>
</html>
<style>
.bg-body{
    background: linear-gradient(63deg, rgba(15,23,42,1) 46%, rgba(14,10,85,1) 100%);;
}
</style>