---
import LogoDandev from "../../public/img/logo-dandev.png";
---

<footer class="container-2xl bg-[#010122]">
    <div class="container m-auto p-4">
        <div class="flex justify-center content-center">
            <div class="bg-white p-3 rounded-[50%] my-3">
                <img src={LogoDandev} alt="" class="w-[50px]">
            </div>
        </div>
        <div class="flex justify-center content-center text-center">
            <p class="text-[#928e8e]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos aliquid odio, eum vitae hic quam?</p>
        </div>
        <div class="flex justify-center content-center">
            <a href="" class="text-white text-[2rem] m-3">
                <i class='bx bxl-linkedin-square'></i>
            </a>
            <a href="" class="text-white text-[2rem] m-3">
                <i class='bx bxl-twitter'></i>
            </a>
            <a href="" class="text-white text-[2rem] m-3">
                <i class='bx bxl-github'></i>
            </a>
        </div>
        <div class="flex justify-center content-center text-center">
            <p class="text-[#928e8e] text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, error!</p>
        </div>
    </div>
</footer>