---
import Header from '../components/Header.astro';
import ButtonScrollTop from '@/components/buttonScrollTop.astro';
import { introbasic } from '@/data/data.json';
import '@/styles/tailwind.css';
import LigthBg from '@/components/DarkBackground.astro';
import NavBar from '@/components/NavBar.astro';
import 'aos/dist/aos.css'; // AOS styles
import { SEO } from 'astro-seo';

interface Props {
  title: string;
}

const { description, url, image } = introbasic;
const { title } = Astro.props;

const DEFAULT_TITLE_PAGE = 'Dantech.dev ✨ - Mi Portafolio web';
const DEFAULT_DESCRIPTION_PAGE =
  'Hola, este es mi portafolio web personal donde muestro mis proyectos, habilidades y experiencias laborales.';
---

<html lang="es" class="dark">
  <head>
    <SEO
      title={title || DEFAULT_TITLE_PAGE}
      description={description || DEFAULT_DESCRIPTION_PAGE}
      openGraph={{
        basic: {
          title: title || DEFAULT_TITLE_PAGE,
          type: 'website',
          image: image || 'https://dantech.dev/img/logo-dantech.webp', 
          url: url || 'https://dantech.dev/', 
        },
      }}
      twitter={{
        card: 'summary_large_image',
        title: title || DEFAULT_TITLE_PAGE,
        description: description || DEFAULT_DESCRIPTION_PAGE,
        image: image || 'https://dantech.dev/img/logo-dantech.webp',
        creator: '@DanTech_99', 
      }}
      extend={{
        link: [{ rel: 'icon', href: '/img/favicon-32x32.png' }],
        meta: [
          { name: 'viewport', content: 'width=device-width, initial-scale=1' },
          { name: 'robots', content: 'index, follow' },
        ],
      }}
    />
    <meta charset="utf-8" />
    <!-- toolstips -->
    <link rel="stylesheet" href="https://unpkg.com/microtip/microtip.css" />
  </head>
  <body
    class="mx-auto flex md:max-w-5xl max-w-3xl absolute md:relative flex-col gap-9 px-3 py-8 text-sm text-neutral-400 md:gap-20 md:py-16 -z-50">
    <NavBar />
    <slot />
    <LigthBg />
    <ButtonScrollTop />
  </body><style is:global>
    @font-face {
      font-family: Geist;
      src: url('../../public/fonts/GeistVariableVF.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
    html {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(11, 20, 41, 1) 0%,
        rgba(11, 21, 40, 1) 100%
      );
      scroll-behavior: smooth;
    }
    body {
      font-family: 'Geist', sans-serif;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
  </style>
  <script>
    import { aosInit } from '@/js/aos';
    aosInit();
  </script>
</html>
