---
import Header from '../components/Header.astro';
import ButtonScrollTop from '@/components/buttonScrollTop.astro';
import {
  SITE_URL,
  SITE_DESCRIPTION,
  SITE_TITLE,
  SITE_IMAGE,
} from '../constants';
import '@/styles/tailwind.css';
import LigthBg from '@/components/DarkBackground.astro';
import NavBar from '@/components/NavBar.astro';
import 'aos/dist/aos.css'; // AOS styles
import { SEO } from 'astro-seo';
---

<html lang="es" class="dark">
  <head>
    <SEO
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      openGraph={{
        basic: {
          title: SITE_TITLE,
          type: 'website',
          image: SITE_IMAGE,
          url: SITE_URL,
        },
      }}
      twitter={{
        card: 'summary_large_image',
        title: SITE_TITLE,
        description: SITE_DESCRIPTION,
        image: SITE_IMAGE,
        creator: '@DanTech_99',
      }}
      extend={{
        link: [{ rel: 'icon', href: '/img/favicon-32x32.png' }],
        meta: [
          { name: 'viewport', content: 'width=device-width, initial-scale=1' },
          { name: 'robots', content: 'index, follow' },
        ],
      }}
    />
    <meta charset="utf-8" />
    <!-- toolstips -->
    <link rel="stylesheet" href="https://unpkg.com/microtip/microtip.css" />
  </head>
  <body
    class="mx-auto flex md:max-w-5xl max-w-3xl absolute md:relative flex-col px-3 py-8 text-sm text-neutral-400 md:py-16 -z-50">
    <NavBar />
    <slot />
    <LigthBg />
    <ButtonScrollTop />
    <style is:global>
      @font-face {
        font-family: Geist;
        src: url('/public/fonst/GeistVariableVF.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      html {
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(11, 20, 41, 1) 0%,
          rgba(11, 21, 40, 1) 100%
        );
        scroll-behavior: smooth;
      }
      body {
        font-family: 'Geist', sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
    </style>
    <script>
      import { aosInit } from '@/js/aos';
      aosInit();
    </script>
  </body>
</html>
