---
---
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Mi website de Astro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- navegacion -->
    <nav>
      <a href="#">Home</a>
      <a href="#">Posts</a>
      <a href="#">Contact</a>
    </nav>

    <main>
      <slot /> <!-- su contenido es inyectado aquí -->
    </main>

  </body>
</html>