---
---
    <section class="container m-auto" id="home">
      <div class="container my-5 m-auto p-4 sm:p-1">
        <nav class="flex justify-between mx-auto content-center p-9">
          <a href="#" class="p-2 text-white text-[30px]">D a n i l o  M a c e a</a>
          <ul class="flex items-center">
            <li><a href="" class=" text-white text-[20px] ml-9">Home</a></li>
            <li><a href="" class=" text-white text-[20px] ml-9">Sobre My</a></li>
            <li><a href="" class=" text-white text-[20px] ml-9">Skills</a></li>
            <li><a href="" class=" text-white text-[20px] ml-9">Proyects</a></li>
            <li><a href="" class=" text-white text-[20px] ml-9">Contacts</a></li>
          </ul>
        </nav>
        <div class="grid grid-cols-2 mid:grid-cols-1">
          <div class="container m-auto w-full px-5 py-5 col-span-1">
            <div class="w-auto">
            <h2 class="text-white text-6xl font-bold mb-3">Developer Web Front-End</h2>
              <p class="text-white text-2xl mt-3 font-medium">
                Hola, Mi nombre es Danilo Antonio Macea
                Santos, soy de colombia y soy desarrollador web
                en el area frontend, me apasiona la web, quiero
                vivirla y aportar mi talento para mejorarla</p>
            </div>
          </div>
        </div>
      </div>
    </section>