---
// const items = ["Home", "Sobre My", "Skills", "Proyects", "Contacts"];

const items = [
  {
    name: "Home",
    link: "/"
  },
  {
    name: "Sobre My",
    link: "/"
  },
  {
    name: "Skills",
    link: "/"
  },
  {
    name:"Proyects",
    link: "/"
  },
  {
    name: "Contacts",
    link:"/"
  },
 
]

---
    <!-- contenedor padre  -->
    <section class="container-xl m-auto p-4" id="home">
      <div class="sm:container m-auto">
        <nav class="flex justify-between mx-auto content-center p-9">
          <a href="#" class="p-2 text-white text-[30px]">D a n i l o  M a c e a</a>
          <ul class="flex items-center">
            {items.map((item) => (
            <>
            <li><a href={item.link} class=" text-white text-[20px] ml-9">{item.name}</a></li>
            </>
            ))}
          </ul>
        </nav>
      </div>
    </section>
